@media (max-width: 1000px) {
  .form-last{
   .form-label{
     width:140px!important;
    }
  }

  .logo{
    flex-direction:column;
    height:auto!important;
  }
  .main-nav{
    height:auto!important;
    ul{
      flex-direction:column;
      padding:20px;
      align-items:left!important;
    }
  }
  .reporting{
    flex-direction:column!important;
    .form-report{
      width:100%!important;
    }
    .graphs{
      width:100%!important;
    }
  }
  .form{
    width:100%!important;
    padding:10px;
    .form-block{
      height:auto!important;
      padding:20px!important;
    }
    .form-fields{
      flex-wrap:wrap;
    }
  }
 }

