<div class="form">
<h2>VOUS N'ETES PAS CONCERNÉ PAR LA LOI SAPIN II</h2>
<p>Affinis / Ker-Meur est une société d’intelligence économique spécialisée dans la prévention des fraudes et les due diligences (connaissance des partenaires et de la concurrence). Nous avons pris dès la promulgation de cette loi, les mesures d’accompagnement de nos clients pour son déploiement, y compris dans son aspect légal pour lequel nous nous sommes adossé à un cabinet d’avocats de Paris.<br/>
Nous vous proposons de vous accompagner dans le process de déploiement de vos obligations légales et vous proposant un « pack Loi Sapin II » incluant l’ensemble des aspects légaux et techniques. Notre offre est particulièrement dimensionnée pour les PME-PMI et les ETI.
</p>
</div>
